<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 定義 log 檔案要存放的位置 -->
	<targets>
		<target xsi:type="File" name="allfile" fileName="logs/logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}" />
	</targets>

	<!-- 規則：所有 log 都寫到 allfile -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="allfile" />
	</rules>
</nlog>
